.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.preloader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content_photo {
  display: flex;
  justify-content: center;
  width: 35%;
}

.user_avatar {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  overflow: hidden;
}

.user_decr,
.user_bio,
.user_id,
.user_login,
.url,
.repo_name {
  font-size: 20px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
}

.repo_name {
  margin-right: 20px;
}
.content_repo {
  width: 75%;
}

.repo_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo_list {
  font-size: 25px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 15px;
}

.repo_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.error,
.error_text,
.error_num {
  font-size: 20px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 15px;
  color: red;
}

@media (max-width: 1080px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user_avatar {
    width: 60%;
    height: 60%;
    margin: 10px;
  }
}

@media (max-width: 760px) {
  .title {
    font-size: 25px;
  }
  .user_decr,
  .user_bio,
  .user_id,
  .user_login,
  .url,
  .repo_name {
    font-size: 15px;
  }
  .repo_list {
    font-size: 20px;
  }
  .user_avatar {
    width: 50%;
    height: 50%;
  }
}
