.wrap {
  text-align: center;
}

.preloader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.login {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 15px;
}

.user_avatar {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  overflow: hidden;
}

.repo_list {
  font-size: 25px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.repo_name {
  font-size: 25px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.error {
  color: red;
}
