.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.preloader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.title {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content_photo {
  width: 35%;
}

.user_avatar {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  overflow: hidden;
}

.user_decr,
.user_bio,
.user_id,
.user_login,
.url,
.repo_name {
  font-size: 20px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: left;
}

.repo_list {
  font-size: 25px;
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 15px;
}

.error {
  color: red;
}
