.item {
  width: 60%;
}

.done {
  text-decoration: line-through;
  color: #454545;
}

.delete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 20%;
}

.deleted {
  display: none;
}
