.footer {
  width: 100%;
}

.total{
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #454545;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  width: 100%;
}

.clear_all,
.clear_done {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  padding: 2.5px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 8px;
  transition: .4s all;
}

.item:hover {
  color: #f50057;
}

.active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #f50057;
  padding: 2.5px;
  cursor: pointer;
  margin: 0 8px;
  transition: .4s all;
}

@media (max-width: 1080px) {
  .total {
    width: 70%;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .total {
    width: 50%;
  }
}
