.footer {
  width: 100%;
}

.total {
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #454545;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  width: 100%;
}

@media (max-width: 1080px) {
  .total {
    width: 70%;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .total {
    width: 50%;
  }
}
